@import '../../../../styles/variables.scss';

.wrapper {
    display: flex;
    background-color: var(--color-items);
    font-size: $font-size-sm;
    height: 32px;
    min-width: 32px;
    width: fit-content;
    padding: 6px 8px;
    border: 1px solid var(--color-border);
    border-radius: 1000px;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow-xs;
}

.wrapper.button:hover {
    filter: brightness(var(--brightness-hover));
    animation: pulse 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1.05);
    }
}