@import '../../../shared/styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    height: 100vh;
    background-color: var(--color-background);
    transition: background-color 0.2s;
}

.pageSpace {
    display: flex;
    flex: 1;

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: $spacing-lg;

    gap: $spacing-lg;
}

.left_nav {
    display: block;
    flex: 1;
}

.bottom_nav {
    display: none;
    height: 64px;
}

.page {
    display: flex;
    flex: 4;
}




@media (max-width: $breakpoint-md) {
    .pageSpace {
        flex-direction: column;
    }

    .left_nav {
        display: none;
    }

    .bottom_nav {
        display: block;
    }
}