@import '../../../../shared/styles/variables.scss';

.wrapper {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-surface-transparent);
    height: 100%;
    width: 100%;
    z-index: 1500;

    backdrop-filter: blur(10px);
}

.window {
    display: flex;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    padding: $spacing-md;
    border-radius: $border-radius-lg;
    margin: auto;
    max-width: 1200px;
    animation: appear 0.5s ease-in-out;
    height: fit-content;
    position: relative;

    flex-direction: column;
    gap: $spacing-md;
    flex: 1;
    max-height: 100%;
}

.scrollableContent {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    flex: 1;
    overflow-y: auto;
    padding-right: 4px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    40% {
        opacity: 1;
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.98);
    }

    80% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}