@import '../../../shared/styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    justify-content: end;
}