@import './../../../styles/variables.scss';

.wrapper {
    display: flex;
    flex: 1;
    min-width: 128px;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-bottom: 3px solid var(--color-surface);
    transition: 0.2s;
}

.wrapper.active.dark {
    border-bottom: 3px solid var(--color-primary);
    transition: 0.2s;
}

.wrapper.active.light {
    border-bottom: 3px solid var(--color-accent);
    transition: 0.2s;
}