@import '../../../styles/variables.scss';

.wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
}

.logo, .logo2 {
    height: 32px;
}

.logo2 {
    display: block;
}




@media (max-width: $breakpoint-md) {
    .logo2 {
        display: none;
    }
}