@import '../../../../../shared/styles/variables.scss';
@import '../../../../../shared/styles/animations.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: $spacing-md;
}

.title {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
}

.option {
    flex: 1;
    text-align: center;
    padding: $spacing-md;
    background-color: var(--color-items);
    border: 1px solid var(--color-border);
    border-radius: $border-radius-lg;
    transition: $transition-medium;

    &:hover {
        background-color: var(--brightness-hover);
        transition: $transition-fast;
        transform: scaleX(0.97);
    }

    &:active {
        animation: none;
        transform: scale(0.9);
        transition: $transition-fast;
    }

    &.current.dark {
        background-color: var(--color-primary);
    }

    &.current.light {
        background-color: var(--color-accent);
    }
}