@import '../../../../shared/styles/variables.scss';

.wrapper {
    background-color: var(--color-surface);
    border-radius: $border-radius-xl;
    border: 1px solid var(--color-border);
    
    max-width: 640px;
    width: 100%;
    height: fit-content;
}

.tabs {
    display: flex;
    width: 100%;

    border-bottom: 1px solid var(--color-border);
}

.contentWrapper {
    overflow: hidden;
    transition: height 0.3s ease;
}