@import '../../../styles/variables.scss';
@import '../../../styles/animations.scss';

.wrapper {
    border: none;
    border-radius: $border-radius-lg;
    flex: 1;
    background-color: var(--color-super-button);
    backdrop-filter: blur(4px);
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: $transition-medium;

    &:hover {
        filter: brightness(var(--brightness-hover));
        animation: pulse 0.5s infinite;
        transition: $transition-fast;
    }

    &:active {
        transform: scale(0.9);
        filter: brightness(var(--brightness-active));
    }

    &.clicked {
        animation: superlike 0.6s;
    }
}

.wrapper.like {
    background-color: var(--color-like-button);

    &.clicked {
        animation: like 0.6s;
    }
}

.wrapper.dislike {
    background-color: var(--color-dislike-button);

    &.clicked {
        animation: dislike 0.6s;
    }
}

.icon.big {
    width: 40px;
    height: 40px;
}

.icon.small {
    margin: 4px;
    width: 24px;
    height: 24px;
}