@import '../../../styles/variables.scss';

.wrapper {
    border: none;
    border-radius: $border-radius-lg;
    flex: 1;
    background-color: var(--color-super-button);
    backdrop-filter: blur(4px);
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.wrapper.like {
    background-color: var(--color-like-button);
}

.wrapper.dislike {
    background-color: var(--color-dislike-button);
}

.icon.big {
    width: 40px;
    height: 40px;
}

.icon.small {
    margin: 4px;
    width: 24px;
    height: 24px;
}