@import '../../../../shared/styles/variables.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    flex: 1;
    background-color: transparent;
    max-height: 100%;
    border-radius: $border-radius-lg;
}

.wrapper.open {
    background-color: var(--color-surface);
    transition: background-color $transition-medium;
    max-height: 80vh;
    overflow-y: auto;
    overscroll-behavior: contain;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.scrollableContent {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    overflow-y: auto;
    padding-right: 4px;
}

.scrollableContent.open {
    opacity: 1;
}

.scrollableContent.visible {
    opacity: 1;
}

.name_age {
    font-size: $font-size-2xl;
    font-weight: 600;
}

.upIcon {
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    top: 36px;
    background-color: var(--color-background);
    border-radius: $border-radius-lg;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 10px 10px var(--color-surface)
}

.upIcon.open {
    transform: rotate(180deg);
    top: 10px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 6px;
}

@media (max-width: $breakpoint-md) {
    .upIcon {
        position: relative;
        display: block;
    }

    .wrapper {
        padding: 0 $spacing-md $spacing-md $spacing-md;
    }
}