@import '../../../../../../shared/styles/variables.scss';
@import '../../../../../../shared/styles/animations.scss';

.wrapper {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;

    background-color: #00000055;
    backdrop-filter: blur(5px);
    z-index: 1200;
}

.window {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: fit-content;
    background-color: var(--color-surface);
    z-index: 1201;
    padding: $spacing-md;
    border-radius: $border-radius-lg;
    gap: $spacing-md;
    box-shadow: $shadow-md;
    max-width: 768px;
    animation: appear 0.5s;
}

.current,
.list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
}